.wrapper{
    width: 900px;
    margin: 100px auto;
    .about-user{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(131, 131, 131);
        .details{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .right-details{
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                h4{
                    color: red;
                }
            }
            .left-details{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                h5{
                    color: red;
                }
            }
        }
        .image{
            width: 250px;
            img{
                width: 100%;
            }
        }
    }
}
.card{
    width: 250px;
    margin: 8px;
    border: 1px solid white;
    img{
        width: 100%;
    }
    .picture{
        height: 248px;
        background-color: white;
    }
    h5{
        margin-top: 10px;
    }
    h5, p{
        text-align: center;
    }
    p{
        color: #333;
        font-weight: 600;
    }
    &:hover{
        cursor: pointer;
        background-color: rgb(236, 236, 236);
        border-color: #ec0e00;
        p{
            color: #ec0e00;
        }
    }
}