<form>
    <h3>Prijavite se</h3>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email ili korisničko ime</label>
        <input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Lozinka</label>
        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <p>Nemate korisnički račun? <a href="/register">Kreirajte</a></p>
    </div>
    <button (click)="login()" type="submit" class="btn btn-primary">Prijava</button>
</form>