form {
    width: 400px;
    margin: 130px auto;

    h3 {
        margin-bottom: 20px;
    }

    p {
        text-align: center;
    }
    
    button {
        width: 100%;
        background-color: #ec0e00;
        border-color: #ec0e00;
    }
}