<div class="wrapper">
    <h2>O nama</h2>
    <br>
    <p>Kompanija Stanić Trade je osnovana sada već davne 1994 godine.

        Od samog osnivanja kompanija razvija distribuciju tehničke robe, te nastoji kupcima na tržištu Bosne i
        Hercegovine ponuditi uređaje vrhunski kvalitet po pristupačnoj cijeni.

        Kroz godine napornog rada na tržištu BiH kompanija Stanić Trade postala je nezaobilazan čimbenik u svim
        segmentima tržišta i tržišnih atributa.Osnova uspjeha kompanije jeste prvenstveno fleksibilnost, ali i
        struktuiranost u planiranju i realizaciji zadanih ciljeva i zadataka. Kompanija Stanić Trade spada u kompanije
        koje paralelno razvijaju distributivnu mrežu i vlasite retail objekte.

        Dugogodišnji partner kompanije Stanić Trade je LG Electronics iz čijeg se portfolia na teritoriji BiH plasiraju
        uređaji bijele tehnike ( frižideri, mašine za veš, mikrovalne i usisivači), klima uređaji, smeđa tehnika, audio
        i video i TV uređaji, te mobilni telefoni.

        Snagu ditribucijske mreže, resurse, dobru organizaciju i planiranje poslovanja, praćenje tržišta i moderno
        osmišljen marketinški pristup, te kvalitetne kadrove i potencijal za daljnji razvoj, prepoznale su pored LG
        Electronics-a i druge vodeće svjetske firme kao što su Philips, Sony, Sharp, Hotpoint ARISTON čije uređaje ova
        kompanija plasira na tržištu BiH putem široke distributivne mreže I lanaca retail objekata.</p>
    <h4>Nasi partneri</h4>
    <div class="images">
        <img src="https://technoshop.ba/upload/2015/11/lg-logo_5638939de9ce9_120x40r_5648be6081ff2.jpg" alt="">
        <img src="https://technoshop.ba/upload/2015/11/thumbs/philips_560514890a866_120x40r_5648beab236a7_230x250c.png"
            alt="">
        <img src="https://technoshop.ba/upload/2015/11/sony_56051474f3e49_120x40r_5648bf02a47b1.png" alt="">
        <img src="https://technoshop.ba/upload/2015/11/sharp_560514a17022e_120x40r_5648bf385cee5.png" alt="">
        <img src="https://technoshop.ba/upload/2015/11/electrolux-logo-2015_5631fcb3d3899_120x40r_5648bf8f6d182.png"
            alt="">
    </div>
    <h4>Nasi ciljevi</h4>
    <p>Kompanija Stanić Trade ima za osnovni cilj plasman vrhunskih inovativnih digitalnih proizvoda na tržište Bosne i
        Hercegovine, te putem široke distributivne mreže i vlastitih retail objekata svim kupcima u BiH pružiti
        kvalitetan uređaj po prihvatljivoj cijeni. Slijedimo svoju viziju i želimo postati istinski digitalni predvodnik
        koji će usrećiti svoje kupce u citavoj Bosni i Hercegovini.</p>
    <iframe width="800" height="450" src="https://www.youtube.com/embed/S6p8CSjaqu8" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>