.actions {
    width: 200px;
}

.delete-btn {
    margin-left: 5px;
}

.form {
    width: 600px;
    margin: auto;
}

.save-prod {
    margin-top: 10px;
    width: 100%;
}

.form-group {
    margin-top: 10px;
}

.description {
    height: 100px;
    overflow-y: hidden;
}