<div class="main-wrapper">
    <div class="wrapper">
        <div class="child">
            <h4>O NAMA</h4>
            <a class="mb-1" routerLink="/home">Naslovnica</a>
            <a class="mb-1" routerLink="/products">Produkti</a>
            <a class="mb-1" routerLink="/about">O nama</a>
            <a class="mb-1" routerLink="/contact">Kontakt</a>
        </div>
        <div class="child">
            <h4>POMOĆ</h4>
            <a class="mb-1" routerLink="/home">Garancija 12 mjeseci</a>
            <a class="mb-1" routerLink="/home">Naše poslovnice</a>
            <a class="mb-1" routerLink="/home">Terms</a>
            <a class="mb-1" routerLink="/home">Privacy</a>
        </div>
        <div class="child">
            <h4>LOKACIJA</h4>
            <p>Ložionička 16, Socijalno 71000 Sarajevo</p>
            <p>Stanić-Trade D.O.O Mercator Family Centar</p>
        </div>
        <div class="child child-icons">
            <h4>KONTAKT</h4>
            <div class="d-flex flex-row">
                <a href="https:/facebook.com" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https:/instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https:/linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https:/github.com" target="_blank"><i class="bi bi-github"></i></a>
            </div>
            <p class="mt-2">Telefon: +387 33 659 028 <br> E-mail: lozionicka@technoshop.ba</p>
        </div>
    </div>
    <hr>
    <p class="copy">All rights reserved &copy; Jasmin Memic</p>
</div>